# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
tmp/
out-tsc/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.production

# Angular
.angular/
.angular-cache/

# Testing
coverage/
*.lcov
.nyc_output/

# Logs
logs/
*.log